
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
  background: $dark;
}
/*MENU*/
.dropdown-menu{
  background: $dark;
  .dropdown-item{
    background: $dark;
    color: white;
  }
}
.navbar-laravel {
  background-color: #272929;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display:flex;
  align-items: center;
}
.navbar-title{
  margin: 10px;
  color: white;
}

.container{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
/* BUTTONS */
.btn-bluesky{
  background: none;
  text-decoration: none;
  margin: 10px;
  border: 1px solid #49acc5;
  border-radius: 50px;
  color: #49acc5;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 34px;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  &:hover{
      background: #49acc5;
      color: white;
  }
  }

  .btn-bluedark{
    background: none;
    text-decoration: none;
    margin: 10px;
    border: 1px solid #4b49c5;
    border-radius: 50px;
    color: #4b49c5;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 34px;
    line-height: 34px;

    padding: 0 23px;
    position: relative;
    text-align: center;
    
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    &:hover{
        background: #4b49c5;
        color: white;
    }
    }

    .btn-danger1{
      text-decoration: none;
      margin: 10px;
      border: 1px solid #c54949;
      border-radius: 50px;
      color: #c54949;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      height: 34px;
      line-height: 34px;
      background: none;
      padding: 0 23px;
      position: relative;
      text-align: center;
      
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: ease-in-out;
      &:hover{
          background: #c54949;
          color: white;
      }
      }

/* CREATE PART*/
.bg-card-create{
  background-color: #202222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  color: #fff;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 250px;
  margin: auto;
  border-radius: 15px;

    input[type=text]{
      width: 210px;
      background: $dark;
      border: none;
      color: white;
    }
    input[type=password]{
      width: 210px;
      background: $dark;
      border: none;
      color: white;
    }
    textarea[type=text]{
      width: 210px;
      background: $dark;
      border: none;
      color: white;
    }
    button[type=submit]{
      width: 210px;
      
    }
}

/* TABLE EDIT*/

.table.table-striped{
  background: #272929;
  color: white;
  border-radius: 15px;
}
td.info-posts{
  position: relative;
  top: 50%;
}
.table td, .table th{
  border: none;
}

/* CARD POSTS*/
.card{
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #202222;
  max-width: 400px;
  margin: auto;
  .card-header-hover{
    background-color: #202222;
    border-radius: 15px;
    border: none;
  }
  .card-body{
    border: none;
    border-radius: 15px;
    background-color: #202222;
    box-sizing: border-box;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1.25rem;
    .btn.btn-primary{
      width: 210px;
    }
    input[type=text]{
      width: 210px;
      background: $dark;
      border: none;
      color: white;
    }
    input[type=password]{
      width: 210px;
      background: $dark;
      border: none;
      color: white;
    }
    .card-text.text-justify{
      margin-top: 10px;
    }
  }
  .my-4{
    background: #49acc5;
    border: 1px solid #49acc5;
    border-radius: 5px;
  }
}


/*ARTICLE*/

.title-return-login{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control{
  background-clip: padding-box;
  background-color: $dark;
  border: none;
  border-radius: .25rem;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: .9rem;
  font-weight: 400;
  height: calc(2.19rem + 2px);
  line-height: 1.6;
  margin: 0;
  overflow: visible;
  padding: .375rem .75rem;
  transition-delay: 0s,0s;
  transition-duration: .15s,.15s;
  transition-property: border-color,box-shadow;
  transition-timing-function: ease-in-out,ease-in-out;
  width: 100%;
}

.card-body input[type=text] {
  background: #2e3131f3;
  border: none;
  color: white;
  .form-control input{
    width: 210px;
    background: $dark;
    border: none;
    color: white;
  }
}

input[type=email] {
  background: #2e3131f3;
  border: none;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus 
{
  background: $dark;
  color: white;
}